.Chessboard {
  display: grid;
  grid-template-columns: repeat(8, 100px);
  grid-template-rows: repeat(8, 100px);
  width: 800px;
  height: 800px;
  border: 2px solid black;
}

.Chessboard .coordinate {
  width: 100px;
  height: 100px;
}

.Chessboard .dark-square {
  background-color: rgb(104, 81, 85);
}

.Chessboard .light-square {
  background-color: rgb(235,236,208);
}
